#Ignore .pro.user files
*.pro.user*

#Ignore GCC build dir
*build*GCC*

#Ignore makefiles
*Makefile*

#Qmake stash
*qmake*stash

#Orig
*orig

#Object script
*object_script*
*ui_*.h
#debug folder
*32bit-Debug/debug/*

#release folder
*32bit-Release/*
